body {
    width: 1333px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
}
.header_menu {
    text-decoration: none;
    display: block;
    margin-left: auto;
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    background-color: yellow;
    margin-right: 1px;
    flex: 1;
}
#ranking {
    display: flex;
}
.ranking-img {
    max-width: 115.53px;
    max-height: 125px;
}
.ranking-item{
    width: 300px;
    height: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#nav-type{
    margin-bottom: 80px;
}
.nav-p{
    font-size: 30px;
}
.submit {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.submit:hover {
    cursor: pointer;
    background-color: #c6ffc6;
}
img {
    max-height: 125px;
}
details {
    width: 1230px;
    margin-left: 50px;
    background-color: #fffacd;
}
summary {
    margin-top: 16.6px;
    cursor: pointer;
    transition: 0.5s;
}
summary:hover {
    cursor: pointer;
    background-color: yellow;
}
#h1 {
    font-size: 30px;
    text-align: center;
    background-color: orange;
    margin-top: 8px;
    font: 30px;
    width: 1333px;
}
label {
    margin-left: 20px;
}
#sort {
    padding-bottom: 16.6px;
    margin-bottom: 16.6px;
}
select {
    height: 22px;
}
#flex {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
} 
#flex .book {
    width: 200px;
    height: 210px;
    text-align: center;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
#flex .span {
    display: block;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#products_name {
    background-color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: blue;
    display: block;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#products_name:hover {
    cursor: pointer;
    background-color: #ffff89;
}
.name_length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#font {
    color: red;
}
footer {
    height: 40px;
    text-align: center;
    clear: both;
    background-color: #d3d3d3;
    margin-top: 2px;
}
#footer {
    padding-top: 8px;
}

/*ナビゲーションドロワー全体*/
#nav-drawer {
    position: relative;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
    display:none;
}
/*アイコンが表示される領域*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    margin-left: 3px;
    margin-top: 5px;
    vertical-align: middle;
    cursor: pointer; /*選択時ポインタを指の形に*/
}
/*ハンバーガーアイコン*/
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px; /*線の太さ*/
    width: 25px; /*長さ*/
    border-radius: 3px;
    background: black; /*三本線の色*/
    display: block;
    content: '';
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*クリック時に閉じる薄黒カバー*/
#nav-close {
  display: none; /*はじめは隠しておく*/
  position: fixed; /*スクロールしてもカバーの位置は固定*/
  z-index: 99px; /*重なりの順序を整数で指定*/
  top: 0; /*全体に広がるように*/
  left: 0; /*topと合わせて、規準の左上に固定*/
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0; /*透明度*/
  /*transition: .3s ease-in-out; /*滑らかに表示*/
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /*最前面に*/
  width: 90%; /*最大幅の何％にするか*/
  max-width: 330px; /*最大幅*/
  height: 100%; /*画面下まで全て表示*/
  background: #fef263;
  -webkit-transform: translateX(-105%); /*横方向の移動*/
  transform: translateX(-330px); /*左に隠す*/
  /*transition: .3s ease-in-out; /*滑らかに表示*/
}
/*チェックが入ったら全て表示*/
#nav-input:checked ~ #nav-close {
  display: block; /*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); /*中身を表示*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}