body {
    width: 1333px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
}
.header_menu {
    text-decoration: none;
    display: block;
    margin-left: auto;
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    background-color: yellow;
    margin-right: 1px;
    flex: 1;
}
h1 {
    font-size: 30px;
    text-align: center;
    background-color: orange;
    margin-top: 8px;
    font: 30px;
}
table {
    width: 1250px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table, tr, th, td{
    border-top: 0;
    border-bottom: solid 1px black;
    text-align: center;
}
img {
    height: 150px;
}
#price {
    width:1250px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    color: red;
    font-size: 20px;
}
#back {
    display: block;
    text-align: center;
    width:250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 2px;
    background-color: yellow;
}
#p1 {
    text-align:center;
    font-size: 25px;
}
ul {
    padding-left: 0px;
}
li {
    text-align: center;
    list-style: none;
    color: red;
}
#p2 {
    text-align: center;
    margin-top: 25px;
}